body {
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #0058a3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo img {
    height: 60px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.feature:hover i {
    color: #ffd700;
    transform: translateY(-2px);
}

@media (hover: none) {
    nav a:hover,
    .feature:hover,
    .feature:hover i,
    .gallery-image img:hover { 
        color: initial;
        transform: initial;
        box-shadow: initial;
    }
    
    .feature i {
        transition: color 0.3s;
    }
}

img:hover {
    filter: brightness(100%);
}

.hero {
    background-image: url('path_to_your_background_image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}
.feature {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #0058a3;
    transition: color 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.feature:hover i {
    color: #ffd700;
    transform: translateY(-2px);
}

.gallery {
    text-align: center;
    padding: 50px 0;
}

.gallery h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.gallery-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-image {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s;
}

.gallery-image img {
    max-width: 100%;
    height: auto;
}

@media (hover: none) {
    nav a:hover,
    .feature:hover,
    .feature:hover i,
    .gallery-image:hover,
    .gallery-image img:hover { /* Remove hover effect on images */
        color: initial;
        transform: initial;
        box-shadow: initial;
    }
    
    .feature i {
        transition: color 0.3s;
    }
}

img:hover {
    filter: brightness(100%);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .mobile-nav {
    flex-direction: column;
    align-items: center;
    }

    .logo img {
        height: 60px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .features {
        padding: 30px 0;
    }

    .feature {
        flex: 0 0 100%;
        margin: 0;
        padding: 20px;
    }

    .gallery {
        text-align: center;
        padding: 50px 0;
    }

    .gallery h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .gallery-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .gallery-image {
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .gallery-image img {
        max-width: 100%;
        height: auto;
    }
   
    .gallery-image:hover {
        transform: initial;
        box-shadow: initial;
    }
}

