body {
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #0058a3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700;
}

.hero {
    background-image: url('path_to_your_background_image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.feature {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #0058a3;
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.gallery {
    text-align: center;
    padding: 50px 0;
}

.gallery h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.gallery-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-image {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-image img {
    max-width: 100%;
    height: auto;
}

.gallery-image:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);

.sourceforge-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
